@import "../settings/colors.scss";
@import "../settings/breakpoints";
body {
  background-color: $background;
  font-size: 16px;
}

main {
  padding: 0 3.125rem;
  overflow-x: hidden;
  overflow-y: hidden;
  @include desktop-xl-up {
    padding: 0 9.375rem;
  }
}