@import "../settings/colors.scss";
@import "../settings/breakpoints";

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: $white;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  padding: clamp(0.313rem, 1vw, 2.5rem) 0;
  &__logo{
    position: relative;
    a {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      z-index: 3;
      opacity: 0;
    }
  }
  .logo{
    z-index: 2;
    position: inherit;
  }
  &__nav {
    input {
      display: grid;
      width: 2.5rem;
      aspect-ratio: 1;
      overflow: hidden;
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;

      &::before, &::after {
        content: "";
        grid-area: 1/1;
        transition: .3s;
        z-index: 1;
      }

      &::before {
        background: radial-gradient(closest-side at 12.5% 25%, #000000 96%, #0000) 0 0/80% 40%,
        linear-gradient(#000000 50%, #0000 0) top/80% 40% repeat-y;
      }

      &::after {
        padding: 10%;
        background: radial-gradient(closest-side at 50% 12.5%, #000000 96%, #0000) top /20% 80% repeat-y,
        radial-gradient(closest-side at 12.5% 50%, #000000 96%, #0000) left/80% 20% repeat-x,
        conic-gradient(from 90deg at 33% 33%, #0000 90deg, #000000 0) 100% 100%/60% 60% padding-box content-box;
        transform: rotate(45deg);
        opacity: 0;
        z-index: 2;
      }

      &:checked::before {
        transform: translate(100%);
        opacity: 0;
      }

      &:checked::after {
        opacity: 1;
      }
      &:checked + ul {
        transform: unset;
        opacity: 1;
        z-index: 1;
      }
      @include desktop-up{
        display: none;
      }
    }

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      background: $white;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      justify-content: center;
      row-gap: 1.875rem;
      transform: translate(-100%);
      will-change: transform, opacity;
      opacity: 0;
      transition: .3s;
      @include desktop-up {
        flex-direction: row;
        gap: 2.625rem;
        opacity: 1;
        transform: unset;
        position: initial;
      }
      li{
        font-size: clamp(1rem, 1.2vw, 2.5rem);
      }
      li:nth-child(6) {
        background-color: $yellow;
        padding: 1.25rem;
        border-radius: 3.125rem;
        a{
          &:hover,
          &:focus{
            color: $black;
            font-weight: 800;

          }
        }
      }
      a{
        &:hover,
        &:focus{
          color: $darkblue;
          font-weight: 600;
        }
      }
    }
  }
}
