@import "../settings/colors.scss";
@import "../settings/breakpoints";
.button {
  &__image {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }

  &-container {
    display: flex;
    justify-content: center;
    gap: 1.25rem;
    margin-top: 1.25rem;
  }

  &-button1, &-button2 {
    padding: 1rem;
    border-radius: 50px;
    background: $darkblue;
    width: 6rem;
    text-align: center;
    a{
      color: $white;
    }
    .inactive {
      background-color: $darkblue;
      opacity: 0.7;
    }
  }
}