.double-text-media {
&__section_container{
  margin-top: 3.125rem;
}
  &-headline{
    font-size: 1.75rem;
    text-align: center;
  }
  &-headliners{
    position: relative;
    .underline{
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}
